*{
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav{
  max-width: 1220px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
  height: 42px;
  margin-left: 110px;
  margin-right: 110px;
  font-family: sans-serif;

}

.nav-logo{
  width: 153px;
}

ul{
  display: flex;
  flex-direction: row;
  width: 652px;
  justify-content: center;
  gap: 45px;
  
}

li{
  list-style: none;
font-size: 16px ;
color:#747981;

  
}

.nav-btn{
  width: 208px;
  display: flex;
 justify-content: space-between;
}

.login{
  width: 75px;
  height: 42px;
  border:none;
  background: white;
  font-weight: bold;
  box-shadow: -2px 0 rgba(0, 0, 0, 0.05), 0 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  color: #747981;
}

.tryforfree{
  width: 119px;
  height: 42px;
  background-color: #007AFF;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;

}

.heroSection-cont{
  
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection-cont h2{
  font-weight: 650;
  font-size: 4rem;
  width: 890px;
  text-align: center;
  padding: 0;
  margin-top: 140px;
}

p{
  height: 64px;
  width: 840px;
  font-size: 19px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-align: center;
  color:#4F4F4F;
  margin-top: 24px;
}

.heroSection-btn{
  height: 64px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.start{
  width: 290px;
  height: 64px;
  background-color: #007AFF;
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: 700;
  font-size: 19px;
}

.join{
  width: 290px;
  height: 64px;
  border:none;
  background: white;
  font-weight: bold;
  box-shadow: -2px 0 rgba(0, 0, 0, 0.05), 0 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  color: #007AFF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  font-size: 19px;
}

.check-list{
  margin-top: 40px;
  color: #4F4F4F;
}

.points{
  color:#4F4F4F;
}

.points img{
  margin-right:8px ;
}

.colours{
  margin-top: 200px;
  width: 100%;
  height: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: -2px 0 rgba(0, 0, 0, 0.05), 0 2px rgba(0, 0, 0, 0.05);
}
.slide{
  width: 30%;
  height: 100%;
  z-index: -1;
}

.left {
  background-color:#FB585A;
}

.right {
  background-color:#FABE24;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 80%;
  height: 105%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin-bottom:20px;
  border-radius: 21px;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.business{margin-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.business p{
  color: black;
  font-weight: 400;
  
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 1058px;
  margin: auto;
  animation: scrol 20s linear infinite;
}

.same{
  width: 1058px;
  margin: auto;
}

.createFunel-cont{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolsIntegration-cont{
  margin-top: 140px;
  margin-bottom: 140px;
  height: 586px;
}

.createFunel-cont h2{
  font-weight: 650;
  font-size: 3.5rem;
  width: 920px;
  text-align: center;
  padding: 0;
}

.createFunel-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 372px;

}

.toolsIntegration-main{
  margin-top:100px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 372px;
}

.disc{
  width: 331px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toolsIntegration-disc{
  margin-left: 50px;
}

.disc-img img{
  width: 662px;
  height: 372px;
  border-radius: 8px;
 object-fit: cover;
 box-shadow: 0px 0px 8px  #555;;
}

.list-item {
  border-left: 2px solid #007bff;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: border-color 0.3s;
  color: #555;
}

.list-item.active {
  border-left: 2px solid #007bff;
  color: black;
}

.heading {
  font-weight: bold;
}

.description {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

.customerReview-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1058px;
  height: 450px;
  border-radius: 24px;
  background-color: #E0E7ED;
}

.customerReview-main{
  width: 587px;
  height: 450px;
  display: flex;
  padding-left:64px ;
  justify-content: space-evenly;
  flex-direction: column;
}

.customerReview-main text{
  width: 465px;
  height: 120px;
  font-size: 32px;
  font-weight: 600;
  color: black;
}

.company{
  width: 240px;
  height:32px;
}

.tname{
  font-size: 19.8px;
  font-weight: 500;
  width: 175px;
}

.test{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 188px;
}

.test text{
  margin-bottom: 20px;
  color: #4F4F4F;
  font-size: 15.9px;
  font-weight: 400;
}

.testification{
  width: 1058px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.onlineMarket-cont{
  margin-top: 160px;
}

.features{
  height: 910px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 124px;
}

.components{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 1058px;

} 

.feature1{
  width: 514px;
  height: 480px;
  border-radius: 24px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #E4F1FF;
  color:#2A496B;
}

.feature2{
  width: 514px;
  height: 480px;
  border-radius: 24px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #E4E7FF;
  color: #2A3062;
}

.learn{
  height: 264px;
 width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.learn h3{
  margin-top: 64px;
  color: #2A496B;
  font-size: 27px;
  font-weight: 600;

}

.learn text{
  width: 360px;
}

.learn a{
  text-decoration: none;
  font-size: 19.8px;
  font-weight: 600;
  color: #2A496B;
  margin-top: 15px;
}

.learn a img{
  margin-right: 8px;
}

.feature3{
  background-color: #FAF1E3;
  width: 1058px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  border-radius: 24px;
  
}

.more{
  width: 400px;
  height: 200px;
  margin-left: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.more h3 ,text{
  color: #4F340A;
}

.more h3{
  margin-top: 0px;
}

.more a{
  margin-top: 30px;
  color: #4F340A;
}

.advertise{
  width: 475px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
}
.img1{
  margin-top: 85px;
  margin-left: 20px;
}

.img2{
  margin-top: 65px;
}

.advertising-cont{
  width: 1125px;
  height: 562px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: auto;
}
.bg1{
  width: 550px;
  height: 559px;
 
  object-fit: cover;
}

.bg1 img{
  width: 100%;
  height: 100%;
}

.bg2 img{
  width: 100%;
  height: 100%;
}

.bg2{
  width: 550px;
  height: 559px;
  object-fit: cover;
}

.advertising-center {
  position: absolute;
  padding: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 1058px;
  height: 375px;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.advertising-center h2{
  font-weight: 650;
  font-size: 4rem;
  padding: 0;
  text-align: center;
}

.footer{
  width: 100%;
  height: 478px;
  margin-top: 132px;
  color: white;
  background-color: #14171F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footersection{
  width: 1100px;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rights{
  height: 46px;
  width: 100%;
  border-top:0.5px solid #272C39;
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 400;
}

.rights text{
  font-size: 14px;
  font-weight: 400;
  color:#DDDDDE;
  display: flex;
justify-content: center;
text-align: center;
margin-top: 32px;
}

.about{
  width: 313px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.about text{
  height: 72px;
  width: 313px;
  color:#DDDDDE ;
  font-size: 16px;
  font-weight: 400;
}

.contact,.links,.polices{
  width: 107px;
  height: 194px;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: column;
  text-decoration: none;
  color: #DDDDDE;
}

.links{
  width: 220px;
  height: 194px;
}

.polices{
   width: 164px;
  height: 194px;
}
.contact a{

  text-decoration: none;
    color: #DDDDDE;
    font-size: 16px;
    font-weight: 400;
}

.links a{

  text-decoration: none;
    color: #DDDDDE;
    font-size: 16px;
    font-weight: 400;
}

.polices a{

  text-decoration: none;
    color: #DDDDDE;
    font-size: 16px;
    font-weight: 400;
}

.social{
  width: 146px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* @keyframes scrol {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
} */

/* @media only screen and (max-width: 1200px) {
  nav {
    margin-left: 80px;
    margin-right: 80px;
  }

  .centerize{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .heroSection-cont h2 {
    font-size: 3.5rem;
    width: 800px;
  }
  
  p {
    width: 700px;
  }
  
  .same, .customerReview-cont, .testification, .components, .feature3, .advertising-center  {
    width: 900px;
  }
  
  .disc-img img {
    width: 500px;
    height: 300px;
  }
  
  .toolsIntegration-disc {
    margin-left: 30px;
  }
  
  .advertising-cont {
    width: 800px;
    height: auto;
    margin-top: 100px;
  }
  
  .bg1, .bg2 {
    width: 440px;
    height: 500px;
  }

  
  
  .footersection {
    width: 900px;
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    margin-left: 60px;
    margin-right: 60px;
  }

  .nav-btn{
    width: 250px;
    align-items: center;
    justify-content: space-between;
  }


  ul{
    gap: 20px;
  }

  ul li{
    text-align: center;
  }
  
  .heroSection-cont h2 {
    font-size: 3rem;
    width: 700px;
    margin-top: 100px;
  }
  
  p {
    width: 700px;
    font-size: 17px;
  }
  
  .same, .customerReview-cont, .testification,  .advertising-center {
    width: 750px;
  }
  
  .heroSection-btn {
    width: 500px;
  }
  
  .start, .join {
    width: 240px;
    height: 56px;
  }

  .center {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 80%;
  height:500px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin-bottom:-20px;
  border-radius: 21px;

}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
  .disc-img img {
    width: 400px;
    height: 250px;
  }
  
  .disc {
    width: 300px;
  }

  .customerReview-cont{
    height: 450px;
    width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  background-color: #E0E7ED;
}

.customerReview-main{
  width: 400px;
  height: 380px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.customerReview-image img{
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.customerReview-main text{
  width: 350px;
  height: 120px;
  font-size: 26px;
  font-weight: 600;
  color: black;
}

.company{
  width: 200px;
  height:28px;
  margin-top: 20px;
}

.customerReview-main .tname text{
  font-size: 6px;
  font-weight: 500;
  width: 75px;
}

  .features {
    width: 800px;
     display: flex;
     height: auto;
  }

  .feature3,.components{
    width: 800px;
  }

  .feature1{
  width: 380px;
  height: 480px;
  border-radius: 24px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #E4F1FF;
  color:#2A496B;
}

.ad{
  width: 380px;
  object-fit: cover;
}

.feature2{
  width: 380px;
  height: 480px;
  border-radius: 24px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #E4E7FF;
  color: #2A3062;
}

.feature3{
  background-color: #FAF1E3;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  border-radius: 24px;
  margin-top: 30px;
  
}

.learn a img{
  margin-right: 8px;
}

.more{
  width: 300px;
  height: 200px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.more h3 ,text{
  color: #4F340A;
}

.more h3{
  margin-top: 0px;
}

.more a{
  margin-top: 30px;
  color: #4F340A;
}

.advertise{
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  margin-top: 110px;
}
.img1{
  margin-top: 14px;
  margin-left: 0;
  width: 180px;
}

.img2{
  margin-top: 2px;
  width: 180px;
  overflow: hidden;
}
  
  .advertising-cont {
    width: 750px;
  }
  
  .bg1, .bg2 {
    width: 365px;
    height: 450px;
  }
  
  .advertising-center h2 {
    font-size: 3rem;
  }

  .advertising-center {
  position: absolute;
  padding: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 1058px;
  height: 375px;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: -5px;
 
}

.advertising-center button{
  width: 280px;
}

  
  .footersection {
    width: 900px;
    font-size: 15px;

  }

  .about text{
  height: 72px;
  width: 300px;
  color:#DDDDDE ;
  font-size: 15px;
  font-weight: 400;
}
  
  .colours {
    height: 380px;
  }
  
  .center {
    height: 95%;
  }
} */

@media only screen and (max-width: 768px) {
  nav {
    width: 550px;
    margin-left: 40px;
    margin-right: 40px;
  }

  nav ul{
    gap: 10px;
  }

  nav ul li{
    width: 70px;
    font-size: 12px;
  }

  .login,.tryforfree{
    width: 70px;
  }

  .nav-logo img{
    width: 70px;
  }

  nav .nav-btn{
    width: 140px;
  }
  
  .heroSection-cont h2 {
    font-size: 2.5rem;
    width: 550px;
    margin-top: 80px;
  }
  
  p {
    width: 500px;
    font-size: 16px;
    height: auto;
  }
  
  .same, .customerReview-cont, .testification, .components, .feature3, .advertising-center {
    width: 600px;
  }
  
  .heroSection-btn {
    width: 400px;
  }
  
  .start, .join {
    width: 190px;
    height: 50px;
    font-size: 16px;
  }

  .logo-container{
    width: 400px;
    height: 40px;
  }

  .logo-container img{
    height: 40px;

  }
  
  .createFunel-cont h2, .advertising-center h2 {
    font-size: 2.5rem;
    width: 550px;
  }
  
  .createFunel-main, .toolsIntegration-main {
    flex-direction: column;
    height: auto;
    gap: 40px;
  }

  .description{
    width: 400px;
  }
  
  .disc-img img {
    width: 500px;
    height: 300px;
  }
  
  .disc {
    width: 500px;
    height: auto;
    gap: 20px;
  }
  
  .toolsIntegration-disc {
    margin-left: 0;
  }
  
  .advertising-cont {
    width: 600px;
    height: 400px;
  }

  .customerReview-cont{
    height: 450px;
    width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  background-color: #E0E7ED;
}

.customerReview-main{
  width: 300px;
  height: 380px;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  flex-direction: column;
}

.customerReview-image img{
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.customerReview-main text{
  width: 200px;
  height: 120px;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.company{
  width: 200px;
  height:28px;
  margin-top: 20px;
}

.customerReview-main .tname text{
  font-size: 6px;
  font-weight: 500;
  width: 75px;
}

  .advertising-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -10px;
  }
  
  .bg1, .bg2 {
    width: 290px;
    height: 400px;
  }
  
  .footersection {
    width: 600px;
    flex-wrap: wrap;
    height: auto;
    gap: 40px;
    padding: 40px 0;
  }
  
  .about, .contact, .links, .polices {
    width: 250px;
  }

  .about text{
    width: 220px;
  }
  
  .colours {
    height: 300px;
  }
  
  .center {
    height: 85%;
  }
  
  .features {
    height: auto;
    gap: 30px;
  }
  
  .components {
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  
  .feature1, .feature2 {
    width: 600px;
  }
  
  .feature3 {
    flex-direction: column;
    height: auto;
    padding: 40px 0;
    gap: 30px;
  }
  
  .more {
    margin-left: 0;
    width: 500px;
  }
  
  .advertise {
    width: 500px;
    overflow: hidden;
  }
}


@media only screen and (max-width: 480px) {
  nav {
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .heroSection-cont h2 {
    font-size: 1.8rem;
    width: 300px;
  }
  
  p {
    width: 280px;
  }
  
  .same, .customerReview-cont, .testification, .components, .feature3, .advertising-center {
    width: 350px;
  }
  
  .heroSection-btn {
    width: 280px;
  }
  
  .start, .join {
    width: 280px;
  }
  
  .createFunel-cont h2, .advertising-center h2 {
    font-size: 1.8rem;
    width: 250px;
  }
  
  .disc-img img {
    width: 350px;
    height: 200px;
  }
  
  .disc {
    width: 350px;
  }

  .description{
    width: 150px;
  }

  .customerReview-cont{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .advertising-center{
    border: 2px solid red;
    height: 350px;
    margin-bottom: 500;
  }

  .check-list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .bg1, .bg2 {
    
    width: 170px;
    height: 250px;
  }
  
  .footersection {
    width: 350px;
  }
  
  .about, .contact, .links, .polices {
    width: 150px;
  }
  
  .colours {
    height: 200px;
  }
  
  .feature1, .feature2, .feature3 {
    width: 350px;
    height: auto;
    padding: 30px 0;
  }

.ad{
  width: 300px;
  border:2px solid red;
  object-fit: cover;
}
  
  .more, .advertise {
    width: 300px;
  }
  
  .learn {
    width: 300px;
  }
  
  .learn text {
    width: 280px;
  }
  
  .img1, .img2 {
    width: 140px;
    margin-top: 0;
  }

  .about text{
    width: 170px;
    font-size: 15px;
  }
}